extends ../layout.pug

block mainContent
	div.content-block
		p.bodyText Olet päässyt mukaan tapahtumaan #{event.title} varasijalta.
	div.content-block
		p.bodyText Tapahtuman tiedot:
		ul
			li
				strong Tapahtuma: 
				| #{event.title}
			li 
				strong Sijainti: 
				| #{event.location}
			li 
				strong Aika: 
				| #{date}
	div.content-block
		p.bodyText Mikäli haluat muokata tai perua ilmoittautumisesi, voit tehdä sen painamalla tätä #[a( href=cancelLink ) linkkiä].
