extends ../layout.pug

block mainContent
	div.content-block
		p.bodyText 
			| Ilmoittautumisesi tapahtumaan 
			strong #{event.title} 
			| onnistui! Mikäli haluat perua ilmoittautumisesi, voit tehdä niin painamalla tätä 
			a linkkiä. 
	div.content-block
		p.bodyText Tapahtuman tiedot:
		ul
			li
				strong Tapahtuma: 
				| #{event.title}
			li 
				strong Sijainti: 
				| #{event.location}
	div.content-block
		p.bodyText Ilmoittautumisesi tiedot:
		ul
			each val in answers
				li
					strong #{val.label}: 
					| #{val.answer}